<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Quiz App
	</title>

	<link rel="stylesheet" type="text/css" href="./css/forgot_pass.css" />

<body>
	<br>	

<div  class="bg-img">
  
    
      <h1>Forgot Password</h1>

      <label id="email"><strong>Username </strong></label>
    <input type="text" placeholder="      Enter Username" name="user_fp" id="user_fp" required><br>

    <label id="psw"><strong>School/University Name</strong></label>
    <input type="text" placeholder="Enter School/University  " name="univ_fp" id="univ_fp" required><br>

    <label id="pswd"><strong>School/University Roll-Number</strong></label>
    <input type="text" placeholder="     Enter Roll-Numbe" name="roll_fp" id="roll_fp" required><br>

	<button type="submit" id="forg_p1" name= "forg_p1" class="btn">Submit</button><br>
  <div id="display1"></div>
<div id="displayb">
  <button type="submit" id="sec_bt_aj" name= "sec_bt_aj" class="sec_bt_aj">Enter</button><br>
</div>
  <div id="display2"></div>
  <div id="display_sb">
    <button type="submit" name= "reset_forg_pass" id="reset_forg_pass" class="btn">RESET</button><br>
  </div>
  <br>





	<br>
  




</div>

<script  src="./js/jquery1.js"></script>
<script  src="./js/script1.js"></script>

</body>
</html>