<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Quiz App-Login</title>
    <link rel="stylesheet" type="text/css" href="./css/loginstyle.css" />
    <script defer src="./js/Login-js.js"></script>
  </head>
<body>
	
	
  <div class="page">
    <div class="container">
      <div class="left">
        <div class="login">LOGIN</div>
        <div class="eula"><img src="./images/pics.png" alt="" height="200px" width="250px"></div>
      </div>
    
  <div id = "main-holder">
  
    <div class="right">
    
    <input type="text" name="user" id="user" placeholder="User" required>
    <input type="password"  name="psw" id="psw" placeholder="Password" required>
    <div class="btng">
    <button type="submit" name= "login_button" id="login_button" class="btn">LOGIN</button><br>
    </div>
<div id="display1"></div>

<div style="text-align:center" id="simp"> 
<a href="/forgot_passowrd">FORGOT PASSWORD?</a>
<br><br>
<a href="/sign_up">SIGN UP</a> 
<br><br>
<a type="submit" name= "bt1" class="btn" href = "/admin">ADMIN LOGIN</a><br>
</div>



</div>
</div>
<script src="./js/jquery1.js"></script>
<script src="./js/script1.js"></script>

</body>
</html>