<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="./css/split.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    </head>
    <body>
      <input type="text" name="user" id="conduct_quiz_username" placeholder="Enter your username" required>
      
        <div class="container">

          <form action="/table1">
             <input type="text" name="user" id="conduct_quiz_username" placeholder="Enter your username" required>

            <section class="screen left">
             
              <h3>Attended quiz</h3>
              <button class="button" type="submit" >
                Learn More
               </button>
            
            </section>
          </form> 
            
          <form action="/table2">

           

          
            <section class="screen right">
           
              <h3>Conducted quiz</h3>
              
              <button class = "button" type = "submit">
                Learn More
               </button>
            </section>

          </form> 
        
          </div>
          
          <script src="./js/split.js"></script>
    </body>
</html>





  