*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/forgot_pass_backgd.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.bg-img{
    width: 500px;
    background: rgba(0, 0, 0, 0.2);
    margin: 12% auto;
    padding: 50px 0;
    color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.7) ;
    border-radius: 5%;
}
.bg-img h1{
    text-align: right;
    color: #fff;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 50px;
    right: 10%;
    position: relative;transform: translate(-5%, -40%);

}
#email{
    padding-right: 164px;
    padding-left: 15px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
#psw{
    padding-right: 58px;
    padding-left: 15px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
#pswd{
    padding-right: 6px;
    padding-left: 15px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
#sec{
    padding-right: 117px;
    padding-left: 15px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=text] {
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
button[type=submit] {
    margin-top: 30px;
    padding: 5px 70px 5px 70px;
    font-weight: bold;
    font-size: 20px;
    transform: translate(60%,0);
}
button[type=submit]:hover {
    margin-top: 30px;
    padding: 5px 70px 5px 70px;
    font-weight: bolder;
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
}
.move {
    color: whitesmoke;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(44%,450%);
    font-size: 32px;
}
